<h1> this is the Ng For Example the name of Friends</h1>
<div class="row">
  <div class="col-3">
    <ul>
      <li *ngFor="let m of jawad">{{ m }}</li>
    </ul>
  </div>
</div>
<div class="mb-3">
  <label for="exampleSelect" class="form-label"  >Select an option</label>
  <select class="form-select" id="exampleSelect" name="option" [(ngModel)]="selectedEmpId" (change)="onEmployeeSelect()">
    <option value="" selected disabled>Select the Employee to print the id in console </option>
    <option *ngFor="let emp of employeeList" [value]="emp.empid" >{{emp.name}}</option>
  </select>
</div>
<br>

<table class="table table-hover" >
  <thead>
  <tr>
    <th scope="col">Sr no</th>
    <th scope="col">empId</th>
    <th scope="col">email</th>
    <th scope="col">name</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let m of employeeList, let srno=index">
    <th scope="row">{{srno+1}}</th>
    <td>{{m.empid}}</td>
    <td>{{m.name}}</td>
    <td>{{m.email}}</td>
  </tr>

  </tbody>
</table>
